<div class="container-fluid">     
    <div class="row margin-top-20">
        <!--<a [routerLink]="country-view">-->
         <div class="col-lg-4  col-md-6 col-sm-12 text-center">
            <img [routerLink]="['/regions-view','americas']" src="assets/images/america1.gif" alt="america" />
        </div>
        <!--</a>-->
        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img [routerLink]="['/regions-view','africa']" src="assets/images/africa.png" alt="africa" />
        </div>
       
        <div class="col-lg-4  col-md-6 col-sm-12 text-center">
            <img [routerLink]="['/regions-view','europe']" src="assets/images/europe.png" alt="Europe" />

        </div>
    </div>

       <div class="row margin-top-20">
        <div class="col-lg-4  col-md-6 col-sm-12 text-center">
            <img [routerLink]="['/regions-view','asia']" src="assets/images/asia.png" alt="asia" />
        </div>
        <div class="col-lg-4  col-md-6 col-sm-12 text-center">
            <img [routerLink]="['/regions-view','oceania']" src="assets/images/OceaniaMap.gif" alt="Oceania" />
        </div>
    </div>
</div>
